.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .auth-input {
    text-align: left;
    background-color: #a9cfd5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
  }
  
  .auth-input input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 8px;
  }
  
  .auth-input .btn {
    width: 100%;
    padding-block: 10px;
    border-radius: 8px;
    background-color: rgb(81, 213, 105);
  }
  
  .auth-input .dont-have {
    margin-top: 25px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .popup {
    position: fixed;
    /* min-width: 200px; */
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px black;
    text-align: left;
  }
  
  .popup input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 8px;
  }
  
  .popup .btn {
    margin-top: 10px;
    width: 100%;
    padding-block: 10px;
    border-radius: 8px;
    background-color: rgb(81, 213, 105);
  }
  
  .hide {
    position: absolute;
    right: 10px;
    top: 7px;
    border: none;
    background: red;
    font-size: 24px;
    padding-inline: 6px;
    color: white;
    border-radius: 4px;
  }
  
  th {
    padding: 8px 16px;
  }
  
  .logout {
    position: absolute;
    right: 20px;
    top: 10px;
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .create-student {
    background: #59b155;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  